/* Global CSS */
* {
  font-family: "Trebuchet MS";
}
body {
  background-color: lightblue;
}


div.content {
  max-width: 1280px;
}

div.content-header {
  width: 100%;
  padding: 6px 2em;
  background-color: azure;
  box-shadow: 4px 4px 6px black;
}

div.player {
  width: 100%;
  padding: 6px 2em;
  background-color: azure;
  box-shadow: 4px 4px 6px black;
}



